.logo
{
	width: 20%;
	height:150px;
	float: left;
	position: relative;
	
}
.company{
	
	width: 60%;
	height: 150px;
	float: left;
	position: relative;
	text-align: center;
	padding-top: 25px;
}

.table h5
{

	font-size: 20px;
}
.logout
{
	width: 10%;
	height: 100px;
  float: left;
	margin-top: 60px;
	margin-left: 80px;
}
.logout button
{
	background-color: #FF0004;
}